@charset "utf-8";
/* CSS Document */


.font-size-22{
  font-size: 22px;
}
.font-size-14{
  font-size: 14px;
}
.font-size-12{
  font-size: 12px;
}

body{
  background-color: white;
  user-select: none;
	font-family:Arial, Helvetica, sans-serif;  
}

/* CSS HEADER*/
 .strip{
  background-color: rgb(255, 250, 240) ;
  height: 30px;
}
 .navbar {
  background-color: rgb(255, 165, 0) ;
  font-family: montserrat;
}
 .collapse{
  padding:  0;
}


.navbar .container .collapse .navbar-nav li a:hover{
	color: white ;
}
.navbar .container .collapse .navbar-nav .nav-item:hover{
  background-color: #FF8C00;
  color: white ;
  margin: -8px;
}

.navbar li a{
	font-size: 120% ;

}
.carousel-inner img{
	width: 100%;
}

.footer{
	font-size: 120% ;
}

.dropright {
  position: relative;
}

.dropright .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

input[type=search] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 10px center;
  border: solid 1px #ccc;
  padding: 12px 10px 9px 32px;
  width: 55px;
  
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

input[type=search] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}
input[type=search]:hover {
  background-color: #fff;
}
input[type=search]:focus {
  width: 80px;
  padding-left: 40px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
input:-moz-placeholder {
  color: transparent;
}
input::-webkit-input-placeholder {
  color: transparent;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

/**/
.dropright:hover>.dropdown-menu {
  display: block;
}

.dropright>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}





/* CSS PRODUCT DETAIL*/
#thongtinsanpham{
	background-color:cornsilk;
	border-radius: 10px;
	padding:10px;
}
img {   
max-width: 100%;
}
 
.preview {  
display: webkit-box;   
display: webkit-flex;  
display: ms-flexbox;   
display: flex;  
webkit-box-orient: vertical;   
webkit-box-direction: normal;  
webkit-flex-direction: column; 
ms-flex-direction: column; 
flex-direction: column;
} 
 
td a.hover{
	color:red;
}
.preview-pic {  

}
 
.preview-thumbnail.nav-tabs {   
border: none;   
margin-top: 15px;
}
 
.preview-thumbnail.nav-tabs li {    
width: 18%; 
margin-right: 2.5%;
}
 
.preview-thumbnail.nav-tabs li img {    
max-width: 100%;    

}
 
.preview-thumbnail.nav-tabs li a {  
padding: 0; 
margin: 0;  
cursor:pointer;
}
 
.preview-thumbnail.nav-tabs li:last-of-type {   
margin-right: 0;
}
 
.tab-content {  
overflow: hidden;
}
 
.tab-content img {  
width: 100%;    
animation-duration: .3s;
}
 
.card { 
margin-top: 0px;    
background: #eee;   
padding: 0em;   
line-height: 1.5em;
} 
 
 
 
.colors {   
webkit-box-flex: 1;    
webkit-flex-grow: 1;   
ms-flex-positive: 1;   
flex-grow: 1;
}
 
.product-title, .price, .sizes, .colors {   
text-transform: UPPERCASE;  
font-weight: bold;
}
 
.checked, .price span { 
color: red;
}
 
.product-title, .rating, .product-description, .price, .vote, .sizes {  
margin-bottom: 15px;
}
 
.product-title {    
margin-top: 0;
}
 
.size {
    margin-right: 10px;
}
 
.size first-of-type {   
margin-left: 40px;
}
 
.color {    
display: inline-block;  
vertical-align: middle; 
margin-right: 10px; 
height: 2em;    
width: 2em; 
border-radius: 2px;
}
 
.color first-of-type {  
margin-left: 20px;
}
.add-to-cart{
color:white;
padding: 20px;
background-color: red; 
border-radius: 25px;
}

.add-to-cart:hover{
background-color: darkgreen;
transition: background-color 1s;
text-decoration:none;
}

.sub_content li:hover{
	color:red;
}

.sub_content p:active{
	color:gray;
}

#store_option a{
	color: black;
	text-decoration: none;
}
#store_option p:hover{
	color:red;
}
.add-to-cart:active{
background-color: black;
	text-decoration: none;
}
 
.not-available {    
text-align: center; 
line-height: 2em;
}
 
.not-available:before { 
font-family: fontawesome;   
content: "\f00d";   
color: #fff;
}
 
.color_grey {   
background-color: grey;
}
 
.color_silver {    
background-color: silver;
}
 
.color_yellow { 
background-color: goldenrod;
}

.option {
padding: 10px;
text-align: center;
border-color: rosybrown;
border-radius: 10px;

}
.comment-respond .comment {
    height: 160px;
}
.comment-respond .author, .comment-respond .comment, .comment-respond .email, .comment-respond .url {
    border: 1px solid #d8d8d8;
	padding: 18px 12px;}

textarea{
    display: block;
    width: 100%;
    height: auto;
    background-color: #fff;
}
tooltip-inner {    
padding: 1.3em;
} 

.text-left col-sm-4{
background-color:antiquewhite;
}

#myTab{
background-color: aliceblue;
border-radius: 5px;
}

/* CSS PRO LIST*/
.tovar_img .tovar_item_btns{
  overflow:hidden;
  position:relative;
  text-align:center;
}


.tovar_item .tovar_img_wrapper .img_h,
.tovar_item:hover .tovar_img_wrapper .img {
  opacity:0.2;
}
.tovar_item:hover .tovar_img_wrapper {opacity:0.1;}


.tovar_item_btns {
  position:absolute;
  left:0;
  right:0;
  bottom:-10px;
  margin:0 -5px;
  opacity:0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.tovar_item:hover .tovar_item_btns {opacity:1; bottom:20px;}
.tovar_item_btns a {
  display:inline-block;
}
.tovar_item_btns a:hover {
  background-color:orange;
  color:#fff;
}
a.add_lovelist:hover {
  color:#cc3333;
  border-color:#cc3333;
  background-color:inherit;
}
.open-project-link {display:inline-block;}
.tovar_view {
  padding:13px 20px;
  text-transform:uppercase;
  font-weight:900;
  font-size:14px;
  color:#333;
  border:1px solid #333;
}
.add_bag, .add_lovelist {
  display:inline-block;
  width:50px;
  height:50px;
  text-align:center;
  line-height:46px;
  font-size:16px;
  color:#333;
  border:1px solid #333;
}
.tovar_description {
  padding:18px 0 0;
}
.tovar_title {
  float:left;
  width:80%;
  display:block;
  text-transform:uppercase;
  font-weight:900;
  line-height:16px;
  font-size:14px;
  color:#333;
}
.tovar_title:hover {color:#232323;}
.tovar_price {
  float:right;
  display:block;
  font-weight:900;
  line-height:16px;
  font-size:14px;
  color:#666666;
}






.card{
    border: 1px solid #CCC;
    height: auto;
    margin: 15px auto;
    overflow: hidden; /** DÒNG BẮT BUỘC CÓ **/
    position: relative;
}

.card {
  width: 98%;
  transition: all .5s;
}

.card img :hover {
    -webkit-transform: scale(1);
            transform: scale(1.03);
     box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.05);   
}

.preview-pic tab-pane: hover{
    -webkit-transform: scale(1);
            transform: scale(1.03);
     box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.05); 	
}

.sub_content a:hover{
	color:red;
}

.sub_content a:active{
	color:grey;
}
/*Footer*/

#footer{
	font-family: 'Rubik', sans-serif;
	font-weight: 550;
	font-size: 14px;
}
.heading{
	margin-top: 2px;
	font-size: 16px;
}
.addressft{
	font-weight: 400;
	margin-left: 2%;
}
.maps{
	margin-left: 1%;
	font-weight: 550;
}
.phone{
	font-size: 16px;
}
#headingnavft{
	font-size: 16px;
	font-weight: 550;
}