.font-size-22{
  font-size: 22px;
}
.font-size-14{
  font-size: 14px;
}
.font-size-12{
  font-size: 12px;
}




body{
  background-color: white;
  user-select: none;
}
 .strip{
  background-color: rgb(255, 250, 240) ;
  height: 30px;
}
 .navbar {
  background-color: rgb(255, 165, 0) ;
  font-family: montserrat;
  height: 
}
 .collapse{
  padding:  0;
}


.navbar .container .collapse .navbar-nav li a:hover{
	color: white ;
}
.navbar .container .collapse .navbar-nav .nav-item:hover{
  background-color: #FF8C00;
  color: white ;
  margin: -8px;
}

.navbar li a{
	font-size: 120% ;

}
.carousel-inner img{
	width: 100%;
}

.footer{
	font-size: 120% ;
}

.dropright {
  position: relative;
}

.dropright .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  background-color:orange;
}
.dropdown-menu {background-color: orange;}
/* SEARCH BUTTON*/
input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

input[type=search] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 10px center;
  border: solid 1px #ccc;
  padding: 12px 10px 9px 32px;
  width: 55px;
  
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

input[type=search] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}
input[type=search]:hover {
  background-color: #fff;
}
input[type=search]:focus {
  width: 80px;
  padding-left: 40px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
input:-moz-placeholder {
  color: transparent;
}
input::-webkit-input-placeholder {
  color: transparent;
}

.card{
    border: 1px solid #CCC;
    height: auto;
    margin: 15px auto;
    overflow: hidden; /** DÒNG BẮT BUỘC CÓ **/
    position: relative;
}

.card {
  width: 98%;
  transition: all .5s;
}

.card:hover {
    -webkit-transform: scale(1);
            transform: scale(1.03);
     box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.05);   
}


/* --------------- Blog Carousel ------------ */

main .blog  .owl-carousel{
    background-image: url('../img/png.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
}

main .blog  .owl-carousel{border: 1px  solid orange}
main .blog .blog-post{
    padding-top: 2rem;

}

main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin-bottom:1rem;
    margin-top: 0;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    margin-left: 2rem;
  transition: all 0.5s;
}
main .blog-post .blog-content:hover{
    -webkit-transform: scale(1);
            transform: scale(1.07);
     box-shadow: px 5px 5px 2px rgba(0, 0, 0, 0.05);
}
main .blog-content .blog-title{
    padding: 1rem 0;
}

main .blog-content .btn-blog{
    padding: .7rem 1rem;
    background: var(--sky);
    margin: .5rem;
}

main .blog-content span{
    display: block;
}

section .container .owl-nav{
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
    color: lightgrey;
    background: transparent;
    font-size: 1rem;
}

.owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent;
    color: var(--midnight);
}

.owl-theme .owl-nav [class*='owl-']{
    outline: none;
}


/* -------x------- Blog Carousel -----x------ */



/**/
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

/**/
.dropright:hover>.dropdown-menu {
  display: block;
}

.dropright>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}









 .props span {
    font-size: 11px;
    text-decoration: none;
    color: #777;
    border-radius: 5px;
    position: relative;
    margin-bottom: : 5px;
    border: 1px solid #eee;
    padding: 0 5px !important;
  }


  .special-price{

    text-decoration: none;
    color: #777;
    border-radius: 5px;
    position: relative;
    margin: 5px 0 0;
    padding: 0 5px !important;
  }
  .rating{
    font-size: 11px;
    margin: 5px;
  }


strong {
    font-weight: 700;
}


/*  TOVAR ITEM
/*-----------------------------------------------------------------------------------*/
.tovar_img .tovar_item_btns{
  overflow:hidden;
  position:relative;
  text-align:center;
}


.tovar_item .tovar_img_wrapper .img_h,
.tovar_item:hover .tovar_img_wrapper .img {
  opacity:0.2;
}
.tovar_item:hover .tovar_img_wrapper {opacity:0.1;}


.tovar_item_btns {
  position:absolute;
  left:0;
  right:0;
  bottom:-10px;
  margin:0 -5px;
  opacity:0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.tovar_item:hover .tovar_item_btns {opacity:1; bottom:20px;}
.tovar_item_btns a {
  display:inline-block;
}
.tovar_item_btns a:hover {
  background-color:orange;
  color:#fff;
}
a.add_lovelist:hover {
  color:#cc3333;
  border-color:#cc3333;
  background-color:inherit;
}
.open-project-link {display:inline-block;}
.tovar_view {
  padding:13px 20px;
  text-transform:uppercase;
  font-weight:900;
  font-size:14px;
  color:#333;
  border:1px solid #333;
}
.add_bag, .add_lovelist {
  display:inline-block;
  width:50px;
  height:50px;
  text-align:center;
  line-height:46px;
  font-size:16px;
  color:#333;
  border:1px solid #333;
}
.tovar_description {
  padding:18px 0 0;
}
.tovar_title {
  float:left;
  width:80%;
  display:block;
  text-transform:uppercase;
  font-weight:900;
  line-height:16px;
  font-size:14px;
  color:#333;
}
.tovar_title:hover {color:#232323;}
.tovar_price {
  float:right;
  display:block;
  font-weight:900;
  line-height:16px;
  font-size:14px;
  color:#666666;
}



/*FOOTER*/
#footer{
  font-family: 'Rubik', sans-serif;
  font-weight: 550;
  font-size: 14px;
}
.heading{
  margin-top: 2px;
  font-size: 16px;
}
.addressft{
  font-weight: 400;
  margin-left: 2%;
}
.maps{
  margin-left: 1%;
  font-weight: 550;
}
.phone{
  font-size: 16px;
}
#headingnavft{
  font-size: 16px;
  font-weight: 550;
}