@charset "utf-8";
/* CSS Document */
 
.header{
	background-color: rgb(255, 250, 240) !important;
}
#main{
	background-color: rgb(255, 250, 240) !important;
}
.class{
	background-color: rgb(255, 250, 240) !important;
}
.navbar {
	background-color: rgb(255, 165, 0) !important;
}

.navbar li a:hover{
	color: blue !important ;
}
.navbar li a{
	font-size: 120% ;

}
.carousel-inner img{
	width: 100%;
}

.col-8 .left ul {
	margin: 0px;
	padding: 0px;

}
.col-8 ul li {
	list-style: none;
}
.col-8 .col-md-5  {
	float: left;
}

{
	margin: 0;
	padding: 0;
	border: none;
	
}
.pic {
	width: 190px;
	height: 80px;
}
.pic img{
	width: 100%;
	height: 100%;
}
.pic:hover img{
	transform: scale(1.05);
	transition: 1s;
}

.khoi {
	width: 300px;
	height: 200px;
	padding: 5px;
	margin: auto;
	background color: black;
	box-sizing: border-box;
}
.khoi img{
	width: 100%;
	height: 100%;
}
.khoi:hover img{
	transform: scale(1.01);
	transition: 1s;
}






